/* ОБЩИЕ КЛАССЫ */
/* TODO: разбить файл на компоненты:
     1) footer
     2) header
    Не забыть подключать новые компоненты стилей в <head> html)
*/

/* TODO: не выбираем по тегу, а создаем класс*/
.line {
    border: none;
    color: brown;
    background-color: brown;
    height: 1px;
}

.grey {
    background: grey;
}

.grey-padding {
    padding-top: 35px;
    padding-bottom: 35px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.my-font {
    color: white;
    font-family: 'Ubuntu Condensed', sans-serif
}

.font700 {
    font-weight: 700;
}


.container-font {
    font-family: 'Marck Script', cursive;
    font-size: 150%;
}
