/* TODO: разбить файл на компоненты:
     1) Серый блок
     2) Цитата с подчеркиванием (MEET THE TEAM)
     3) Блок команды (где люди)
     Когда файл останеться пустым - удалить (здесь и в <head> html где подключен)
    Не забыть подключать новые компоненты стилей в <head> html)*/



.card-fool {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.margin-top {
    margin-bottom: 40px;
    margin-top: 80px;
}

.pag {
    padding-bottom: 20px;
}
