/* TODO: разбить файл на компоненты:
     1) Серый блок
     2) Цитата с подчеркиванием (MEET THE TEAM)
     3) Блок команды (где люди)
     Когда файл останеться пустым - удалить (здесь и в <head> html где подключен)
    Не забыть подключать новые компоненты стилей в <head> html)*/

.main-title {
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.btn-social.btn-facebook {
    border: 2px solid #2921d4;
    color: #2921d4;
}

.btn-social.btn-facebook:hover {
    background: #4f7dd4;
}

.btn-social.btn-twitter {
    border: 2px solid #5bceff;
    color: #5bceff;
}

.btn-social.btn-twitter:hover {
    background: #8eddff;
}

.btn-social.btn-linkedin {
    border: 2px solid #2185d8;
    color: #2185d8;
}

.btn-social.btn-linkedin:hover {
    background: #21a6d8;
}

.btn-social.btn-google-plus {
    border: 2px solid #dc6757;
    color: #dc6757;
}

.btn-social.btn-google-plus:hover {
    background: #dc422b;
}

/*TODO - grey переводится как серый. white - белый. Переименовать класс в white-color*/
.white-color {
    color: white;
}

/* TODO:
     1) ты дополняешь/переопределяешь существующий класс в bootstrap (card)
        лучше свои классы называть по своему, чтобы избегать конфликтов имен
        https://bootstrap-4.ru/docs/4.4/components/card/#images
 */
.card {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.margin-top {
    margin-bottom: 40px;
    margin-top: 80px;
}

.pag {
    padding-bottom: 20px;
}
