/*ABOUT*/

/*TODO: не выбераем по тегам и id, а создаем класс*/
main {
    /*color: #f7fbfc;*/
}

/*TODO (код с душком):  класс называется "белый", а делает паддинг*/
.white {
    padding: 20px 0;
}
/*TODO: удалить (уже есть в бутсрап)*/
.center {
    text-align: center;
}

.main-title {
    text-transform: uppercase;
}

/*TODO: не выбераем по тегам и id, а создаем класс*/
h5,h2 {
    font-family: Lato, sans-serif;
    font-weight: 700;
}
