/* TODO: разбить файл на компоненты:
     1) Вступление
     2) Серый блок
     3) Блок товара
     Когда файл останеться пустым - удалить (здесь и в <head> html где подключен)
    Не забыть подключать новые компоненты стилей в <head> html)*/
.row-padding-top {
    padding-top: 30px;
}

.container-top-padding {
    padding-top: 50px;
}

.container-font {
    font-family: 'Marck Script', cursive;
    font-size: 150%;
}

.font700 {
    font-weight: 700;
}

.img-my {
    max-width: 100%;
    height: auto;
}

.row .img-my{
    max-width: 80%;
    height: auto;
}


.line {
    border: none;
    color: brown;
    background-color: brown;
    height: 1px;
}

.opisanie {
    display: inline-block;
    padding-right: 400px;
    margin-left: 50px;
    padding-top: 110px;
}

