/* Стили для главной страницы */
.grey {
    background: grey;
    padding-top: 35px;
    padding-bottom: 35px;
}

/*TODO: имя класса через дефис- row-padding-top
   CTRL+SHIFT+R - не забыть заменить везде на row-padding-top после переименования
   */
.rowPaddingTop {
    padding-top: 30px;
}
/*TODO:  имя класса дефис*/
.containerTopPadding {
    padding-top: 50px;
}
/*TODO:  имя класса через дефис*/
.containerFont {
    font-family: 'Marck Script', cursive;
    font-size: 150%;
}

.font700 {
    font-weight: 700;
}

/*TODO: стремный класс. Удалить, сделать фото адаптивными. Читай доку бутсрап */
.img {
    height: 500px;
    width: 800px;
}
/*TODO: стремный класс. Удалить, сделать фото адаптивными. Читай доку бутсрап */
.img1 {
    height: 426px;
    width: 300px;
}

/*TODO: имя класса совпадает с названием тега <hr> - переименовать
   CTRL+SHIFT+R - не забыть заменить везде после переименования
   */
.hr {
    border: none;
    color: brown;
    background-color: brown;
    height: 1px;
}

.opisanie {
    display: inline-block;
    padding-right: 400px;
    margin-left: 50px;
    padding-top: 110px;
}
