/* Стили для главной страницы */


.row-padding-top {
    padding-top: 30px;
}

.container-top-padding {
    padding-top: 50px;
}

.container-font {
    font-family: 'Marck Script', cursive;
    font-size: 150%;
}

.font700 {
    font-weight: 700;
}

/*TODO: стремный класс. Удалить, сделать фото адаптивными. Читай доку бутсрап  https://bootstrap-4.ru/docs/4.4/content/images/#responsive-images*/
.img {
    height: 500px;
    width: 800px;
}
/*TODO: стремный класс. Удалить, сделать фото адаптивными. Читай доку бутсрап https://bootstrap-4.ru/docs/4.4/content/images/#responsive-images*/
.img1 {
    height: 426px;
    width: 300px;
}

.line {
    border: none;
    color: brown;
    background-color: brown;
    height: 1px;
}

.opisanie {
    display: inline-block;
    padding-right: 400px;
    margin-left: 50px;
    padding-top: 110px;
}
