/*  TODO - неиспользуемый классс -->*/
.grey {
    background: grey;
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
}

.posts {
    margin-bottom: 50px;
    color: white;
    padding: 20px;
    background-color: #787878;
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

/*  TODO - неиспользуемый классс -->*/
.pag {
    padding-bottom: 20px;
}
