.tablet {
    display: inline-table;
    padding-top: 50px;
    border-collapse: collapse;
    border-spacing: 4px;
    border: 2px solid black;
}

/*  TODO - селектор по тегу выберет АБСОЛЮТНО все теги на странице, где подключен
     . Кажется это не то что нужно -->*/
td {
    padding: 5px;
    padding-right: 30px;
    border: 1px solid #f7fbfc;
}

/*  TODO - селектор по тегу выберет АБСОЛЮТНО все теги.-->*/
th {
    padding: 10px;
    border: 1px solid #f7fbfc;
}

.profile {
    display: inline-table;
    margin-left: 20px;
    margin-top: 80px;
    float: left;
    width: 50%;
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
}

