/* Footer */

footer.page-footer {
    min-height: 50px;
    padding: 20px;
    font-size: 14px;
    color: black;
    background-color: #4d4dc7;
    background-image: linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(-45deg, transparent 50%, white 50%),
    linear-gradient(135deg, transparent 50%, #2c3e50 50%),
    linear-gradient(-135deg, transparent 50%, #2c3e50 50%);
    background-repeat: repeat-x;
    background-position: 0 0, 0 0, 0 100%, 0 100%;
    background-size: 12px 12px;
}

.photo {
    width: 50px;
}

.page-footer {
    margin-top: 30px;
}

.page-footer::after {
    content: "";
    display: table;
    clear: both;
}

.page-footer .info {
    float: left;
}

.page-footer .info img {
    margin-right: 0.5em;
    vertical-align: middle;
    border: 2px solid white;
    box-shadow: 0 0 4px #482645;
    transform: rotate(-5deg);
}

.page-footer .copyright {
    float: right;
    padding-top: 20px;
    font-size: 12px;
}
